.app-text-color-red{
    color : #932121
}

.app-bg-color-red{
    background-color : #932121
}

.poster{
    width: 16em;
    height: 24em;
}

.table-bot-poster{
    width: 6em;
    height: 9em;
}

.table-alt-poster{
    width: 13em;
    height: 9em;
}

.alt-poster{
    aspect-ratio: 2/1;
}

.poster-div{
    width: 16.12em;
    height:29em;
}