.app-text-color-red{
    color : #932121
}

.app-bg-color-red{
    background-color : #932121
}

.poster{
    width: 16em;
    height: 24em;
}

.table-bot-poster{
    width: 4em;
    height: 6em;
}

.alt-poster{
    aspect-ratio: 2/1;
}

.poster-div{
    width: 16.12em;
    height:29em;
}

.div-bot-table:hover{
    background-color: rgba(147,33,33, .8);
}

.div-alt-table:hover{
    background-color: rgba(6, 91, 229, 0.8);
}

.div-va-table:hover{
    background-color: rgba(0, 125, 29, .8);
}