.app-text-color-red{
    color : #932121
}

.app-bg-color-red{
    background-color : #932121
}

.poster{
    width: 16em;
    height: 24em;
}
.poster-div{
    width: 16.12em;
    height:29em;
}


.actor-poster-regular{
    width: 15em;
    height: 20em;
}
.actor-poster-div-regular{
    width: 15.11em;
    height: 25em;
}
.actor-poster-name-regular{
    font-size: large;
    font-weight: bold;
    padding-top: 1em;
}
.actor-poster-character-regular{
    font-size: small;
}

.actor-poster-small{
    width: 9em;
    height: 12em;
}
.actor-poster-div-small{
    width: 9.11em;
    height: 16em;
}
.actor-poster-name-small{
    font-size: medium;
    font-weight: bold;
}
.actor-poster-character-small{
    font-size: small;
}


.voiceactor-poster-regular{
    width: 15em;
    height: 20em;
}
.voiceactor-poster-div-regular{
    width: 15.11em;
    height: 22em;
}

.voiceactor-poster-small{
    width: 9em;
    height: 12em;
}
.voiceactor-poster-div-small{
    width: 9.11em;
    height: 16em;
}



.alt-poster{
    width: 20em;
    height: 14em;
}
.alt-poster-div{
    width: 20.13em;
    height: 18em;
}


.table-bot-poster{
    width: 4em;
    height: 6em;
}
.div-bot-table:hover{
    background-color: rgba(147,33,33, .8);
}
.div-alt-table:hover{
    background-color: rgba(6, 91, 229, 0.8);
}
.div-va-table:hover{
    background-color: rgba(0, 125, 29, .8);
}